
body 
{
    margin: 0;
    padding:0;
    background-color: #212529;
    color:#fff;

}
.header
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
h5,h2{
    padding:8px 16px;
    color:hsl(38, 94%, 51%);
}
a{
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width:150px;
    height:40px;
    font-size: 18px;
    background-color:hsl(38, 94%, 51%) ;
}
select
{
    height: 40px;
    width:450px;
}
i{
    color:white;
}
.wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
    
}
.pagination
{
    display: flex;
    flex-direction:row;
}

.btn
{
    display: flex;
    width: 40px;
    height: 30px;
    margin:1px;
    text-align: center;
    color:white;
}

.wrapper_ep
{
    width:23%;
    height:520px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    border: 0.4px solid rgb(182, 180, 180);
    margin: 12px 12px 0px 0px;
    position: relative;

}
.wrapper_ep *
{
    padding-left:5px;
}

.name-se
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name-se h3
{
    width:200px;
    font-size: 20px;
    color:hsl(38, 94%, 51%);
}
.name-se span
{    display: flex;
    align-items: center;
    margin-right: 8px;
    color:rgb(236, 234, 234);
    font-size: 14px;
}

img{
    width:250px;
    height:270px;
    
    
}

.summary-F
{
    white-space: pre-wrap;
    font-size: 15px;
    margin-bottom: 5px;
    color:rgb(236, 234, 234)
    
}
p{
    margin:0px 0px 0px 0px;
}
.fade-watch
{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    
    
   
}
.wrapper_ep:hover .fade-watch {
    opacity: 1;
    background-color: red;
  }
.select-ep
{
    display:flex;
    flex-direction:column ;
}

.backshow
{   
    width:180px;
    height:55px;
    color:white;
    background-color: hsl(38, 94%, 51%);
    border:none;
    font-size: 18px;
    margin-top: 12px;;
    

}
#nameMovie
{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
.link-summary
{
    color:white;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    background-color: #212529;
    color: rgb(55, 55, 197);
    margin-top: -5px;
}


